/*Common Elements*/
body {
    font-size: 80%;
    font-family: Garamond, Georgia, sans-serif;
    background: #fff url(img/concrete_bg.jpg) no-repeat fixed top center;
    padding: 0;
    margin: 0;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
}
h1 {
    color: black;
    font-size: 4em;
    margin: 0.5em 0 0.5em 0;
    padding: 0%;
    text-shadow: #303030;
}
h2 {
    color: black;
    font-size: 2.2em;
    margin: 0.5em 0 0.5em 0;
    padding: 0%;
}
h3 {
    color: black;
    font-size: 1.8em;
    margin: 0.5em 0 0.35em 0;
    padding: 0%;
}
p {
    font-size: 1.4em;
    line-height: 1.6em;
    color: #303030;
    padding: 0%;
}
.contextWrapper {
    margin: 0 auto;
    max-width: 1170px;
    padding: 0.3em;
}
.left {
    float: left;
}
.right {
    float: right;
}
/*Header*/
header {
    padding: 3.5em 0 3.5em;
    margin: 0 0 2.0em;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
/*Nav Bars*/
nav {
    color: #000;
    font-size: 1.5em;
    letter-spacing: 0.03em;
    padding: 1.0em 1.0em 0.5em;
    margin: 1.0em 0 ;
}
nav ul {
    display: inline-block;
    list-style: none;
    letter-spacing: .35em;
}
nav li {
    display: inline-block;
    margin: 0;
}
nav li a, nav li a:visited {
    text-decoration: none;
    color: #000;
    padding: 0.3em 0.6em;
}
nav li a:hover {
    color: rgb(185, 35, 35);
    background-color: rgba(252,251,243,0.75);
}
nav#utilityMenu {
    float: right;
    margin: -4.2em 0 0 0;
    padding: 0.35em;
    background-color: transparent;
    height: 3em;
}
nav#utilityMenu li {
    padding: 0 ;
    vertical-align: middle;    
}
nav#utilityMenu ul li.acctNav a, nav#utilityMenu ul li.acctNav a:visited {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    height: 1.3em;
    padding: 0.5em;
    margin: -0.4em 0 0 0;
    font-size: 0.8em;
}
nav#utilityMenu ul li.acctNav a.active {
    background-color: rgb(185, 35, 35);
}
nav#utilityMenu ul li.acctNav a:hover {
    background-color: rgba(252,251,243,0.7);
    color: rgb(185, 35, 35);
}
nav#utilityMenu li a, nav#utilityMenu li a:visited { padding: 0;}
nav#utilityMenu li a:hover { background-color: transparent;}
nav#utilityMenu ul li input#search {
    vertical-align: middle;
    margin: 0 0 0 1.0em;
}
nav#utilityMenu ul li.acctNav::before, nav#utilityMenu ul li input#search::before {
    content: "| ";
    color: #000;
}
/*Sidebar Section*/
section#sidebar {
    width: 238px;
    float: left;
    position: relative;
    display: block;
    background-color: #fff;
    margin: 1.5em 0 3.0em 1.5em;
    padding: 1.7em 0.5em 20.0em 1.7em;
    border-left: rgb(185, 35, 35) solid 5px;
   }
/*Main Section*/
section #main {
    /*background-color: #FCFBE6;*/
    background-color: rgba(252,251,243,0.7);
    margin: 0 0 2.0em;
    padding: 1.5em  0 2.0em 1.5em;
    display: inline-block;
    border-radius: 2em;
    box-shadow: 2px 2px 5px #303030;/* offset-x | offset-y | blur-radius | color */
   }
   section div.panel{
    float: left;
    position: relative;
    width: 250px;
    margin: 0 0.5em 2.0em 0.5em;
    padding: 1.0em;
    background-color: #fff;
    border: rgb(185, 35, 35) solid 2px;
    border-radius: 0.6em;
   }
   section div.panel img.itemType {
    width: 100%;
   }
/*Footer*/
footer {
    background-color: none;
    height: 25px;
    font-size: 1.2em;
    color: #000;
    width: 100%;
    text-align: center;
    padding-top: none;
}
footer ul#menuFooter {
    display: inline-block;
    list-style: none;
    margin: 0 0 0 0.6em;
    padding: 0;
}
footer ul li {
    display: inline-block;
    padding: 0 0.7em 0 0;
    margin: 0;
}
footer ul li::before {
    content: "| ";
    padding-right: 0.7em;
}
footer a, footer a:visited {
    color: #000;
    text-decoration: none;
}
footer a:hover {
    color: #000;
    text-decoration: underline;
}
.rose {
    padding-top: 15%;
    margin-left: auto;
    margin-right: 38%;
    width: 4%;
}
button {
    color: rgb(185, 35, 35);
    background-color: #FFF;
    display: inline-block;
    margin: 0 0.75em 0 0;
    padding: 0.2em 0.5em;
    border: 1px solid rgb(185, 35, 35);
    text-transform: uppercase;
}
button:hover {
    background-color: #FBF3DB;
    border: 1px solid #745b2f;
}